@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personnalisation globale */
body {
  font-family: 'Arial', sans-serif;
  background-color: gray; /* Gris clair */
}

input:focus, button:focus {
  outline: none;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2b6cb0; /* Hover color */
}
